<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <style>
            #loader {
                width: 100vw;
                height: 100vh;
                position: fixed;
                background-color: rgba(0, 0, 0, 0.6);
                z-index: 99999;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                line-height: 100vh;
            }
        </style>
    </head>
    <body>
        <div id="loader">
            <div class="spinner-grow" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="input-group mt-4">
                        <input type="text" id="search-input" class="form-control" placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn btn-secondary search" type="button">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-success add-user mt-4 float-right mr-2 mb-2" data-toggle="modal" data-target="#userAction">Add user</button>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <td width="20%" class="text-center">ID</td>
                    <td width="30%" class="text-center">Username</td>
                    <td width="50%" class="text-center">Actions</td>
                </tr>
            </thead>

            <tbody id="tableBody">

            </tbody>
        </table>

        <div class="modal fade theme-dark" id="userAction" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        User action
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="username-id" class="form-control">
                        <input type="text" id="username" class="form-control" placeholder="Username" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="user-save" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <script>
             let loadData = function (value) {
                  $('#loader').show();

                  $.ajax({
                       type: "GET",
                       url: '/users',
                       data: {
                            search: value,
                       },
                       success: function (response) {
                            let status = response.success || false;

                            if (status && typeof response.users !== "undefined") {
                                 let html = '';
                                 $.each(response.users, function (index, element) {
                                      let row = `<tr>
                                        <td class="text-center">` + element.id + `</td>
                                        <td class="text-center">` + element.name + `</td>
                                        <td class="text-center">
                                             <button class="edit btn btn-sm btn-primary" data-id="` + element.id + `"  data-name="` + element.name + `" data-toggle="modal" data-target="#userAction">Edit</button>
                                             <button class="delete btn btn-sm btn-danger" data-id="` + element.id + `">Delete</button>
                                        </td>
                                      </tr>`;

                                      html += row;
                                 });

                                 $('#tableBody').html(html);
                            }

                            $('#loader').hide();
                       },
                  });
             };

             $(function () {
                  loadData();

                  $(document).on('click', '.delete', function () {
                       let id = $(this).data('id') || 0;

                       if (id !== 0) {
                            $.ajax({
                                 type: "DELETE",
                                 url: '/user/' + id,
                                 success: function (response) {
                                      loadData();
                                 },
                            });
                       }
                  });

                  $(document).on('click', '.search', function () {
                       let value = $('#search-input').val();
                       loadData(value);
                  });

                  $(document).on('click', '.add-user', function () {
                       $('#username-id').val(0);
                       $('#username').val('');
                  });

                  $(document).on('click', '.edit', function () {
                       $('#username-id').val($(this).data('id') || 0);
                       $('#username').val($(this).data('name') || '');
                  });

                  $(document).on('click', '#user-save', function () {
                       $('#loader').show();

                       let id = $('#username-id').val() || 0;
                       let username = $('#username').val() || null;

                       if(username == '' || username == null) {
                            $("#userAction").modal('hide');
                            $('#loader').hide();
                            return false;
                       }

                       // add
                       if (id == 0) {
                            $.ajax({
                                 type: "POST",
                                 url: '/user',
                                 data: {
                                      username: username,
                                 },
                                 success: function (response) {
                                      loadData();
                                 },
                            });
                       } else { // edit
                            $.ajax({
                                 type: "PUT",
                                 url: '/user',
                                 data: {
                                      id: id,
                                      username: username,
                                 },
                                 success: function (response) {
                                      loadData();
                                 },
                            });
                       }

                       $("#userAction").modal('hide');
                  });
             });
        </script>
    </body>
</html>
